// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=22i050kN4DermTe-fQhJGqGI0jC */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-black: #000;
$color-gray-2: #ddd;

$color-primary-0: #aef400;	// Main Primary color */
$color-primary-1: #befb25;
$color-primary-2: #b2fa00;
$color-primary-3: #8fc800;
$color-primary-4: #699300;

$color-complement-0: #d4008a;	// Main Complement color */
$color-complement-1: #f123a9;
$color-complement-2: #ec0099;
$color-complement-3: #a4006b;
$color-complement-4: #79004e;

section {
  background: $color-black;
  border: solid 1px;
  margin: 10px;
}

article {
  background-color: $color-primary-0;
  padding: 10px;
}

header {
  background-color: $color-gray-2;
  padding: 5px;
}

footer {
  background-color: $color-complement-0;
}
