<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sandbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <section>
        <header>
            <h2>Create</h2>
            <p><b class="lead">Writing form data in json format to a file.</b></p>
        </header>
        <article>
            <form id="file_add">
                <input class="form-control" type="text" name="name" placeholder="Enter a name..." required><br />
                <input class="form-control" type="text" name="content" placeholder="Provide some content..."><br />
                <input class="btn btn-default" type="submit" value="Create" id='button-add-file'>
            </form>
        </article>
        <footer><span>&nbsp;</span></footer>
    </section>
    <section>
        <header>
            <h2>View</h2>
            <p><b class="lead">List all files.</b></p>
        </header>
        <article>
            <ol id="file_list" class="list-group"></ol>
        </article>
        <footer><span>&nbsp;</span></footer>
    </section>
    <section>
        <header>
            <h2>Update</h2>
            <p><b class="lead">Show content of the file and allow update.</b></p>
        </header>
        <article>
            <div id='file_content'></div>
        </article>
        <footer><span>&nbsp;</span></footer>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/client.js"></script>
</body>

</html>
