<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sandbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Sandbox</h1>
    <section>
        <header>
            <h2>Add a file</h2>
            <p><b class="lead">Writing input data to a file in json format.</b></p>
        </header>
        <article>
            <form method="post" action="files/">
                <input type="text" name="name" placeholder="Enter the name..." required><br />
                <input type="text" name="content" placeholder="Provide some content..."><br />
                <input type="submit" value="add">
            </form>
        </article>
        <footer><span>&nbsp;</span></footer>
    </section>
    <section>
        <header>
            <h2>All files</h2>
            <p><b class="lead">Shows all files.</b></p>
        </header>
        <article>
            <ul class='file-list'></ul>
        </article>
        <footer><span>&nbsp;</span></footer>
    </section>

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/client.js"></script>
</body>

</html>
